html {
	position: relative;
	min-height: 100%;
}
body {
	margin: 0;
	padding: 0;
}

/*=================================================================
   header styles
   =================================================================*/

   header {
   	background-color: #153a7e;
   	border: 1px solid white;
   	border-bottom: none;
   }
   header #logo {
   	height: 125px;
   	width: 350px;
   }

/*=================================================================
  navbar styles
  =================================================================*/

  .navbar {
  	font-size: .9em;
  	background-color: #132c55;
  	color: white;
  	border: none;
  	border-radius: 0;



/*navbar brand styles
----------------------------------------------------------------*/

.navbar .navbar-brand img {
	height: 60px;
	width: 150px;
	position: relative;
	top: -18px;
}


/*navbar tabs styles for all screen sizes
----------------------------------------------------------------*/
.navbar .navbar-nav > li > a {
  color: white;
  letter-spacing: 1px;

  /*change navbar height
  ----------------------------------------------------------------*/
  line-height: 50px;
  height: 50px;
  padding-top: 0;
}
.navbar .navbar-nav > li > a:hover, 
.navbar .navbar-nav > li > a:active,
.navbar .navbar-nav > li .active {
	background-color: #bdc3c7;
	color: black;
}


/*center navbar tabs
----------------------------------------------------------------
this code is obtained from 
http://stackoverflow.com/questions/18777235/center-content-in-responsive-bootstrap-navbar*/ 

@media (min-width: 768px) {
	.navbar .navbar-nav {
		display: inline-block;
		float: none;
		vertical-align: text-bottom;
	}

	.navbar .navbar-collapse {
		text-align: center;
	}

	/*navbar tabs styles for large devices only
	----------------------------------------------------------------*/

	.navbar .navbar-nav > li > a {
		border-right: 1px solid white;
	}
	.navbar .navbar-nav #home,
	.navbar .navbar-nav #dashboard {
		border-left: 1px solid white;
	}
	.navbar .navbar-nav > li > a:hover {
		border-bottom: 7px solid #bdc3c7;
		color: #bdc3c7;
	}
  .navbar .navbar-nav > li .active {
    border-bottom: 7px solid white;
    color: white;
  }
	.navbar .navbar-nav > li > a:active {
		border-bottom: 7px solid gray;
		color: gray;
	}
	.navbar .navbar-nav > li > a:hover,
	.navbar .navbar-nav > li > a:active,
	.navbar .navbar-nav > li .active {
		background-color: #132c55;
	}
}


/*navbar toggle styles
----------------------------------------------------------------*/

.navbar .navbar-toggle {
	border: none;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:active,
.navbar .navbar-toggle:focus {
	background-color: transparent;
}
.navbar.navbar-toggle .icon-bar:hover {
	color: white;
}

/*employee login styles
----------------------------------------------------------------*/
.navbar #employee-login,
.navbar #employee-logout {
	border: none;
  padding: 10px;
}
.navbar #employee-login:hover,
.navbar #employee-login:active,
.navbar #employee-logout:hover,
.navbar #employee-logout:active {
	background-color: transparent;
	color: white;
}
.navbar #employee-login #are-you-an-employee,
.navbar #employee-logout #hello-user {
	font-style: italic;
	font-size: .85em;
	margin-right: .5em;
}
.navbar #login-button,
.navbar #logout-button {
	text-transform: uppercase;
	letter-spacing: 1px;
	background-color: #bdc3c7;
	color: #153a7e;
	border: 1px solid transparent;
	border-radius: 0;
	font-weight: bold;
	font-size: .85em;
}
.navbar #login-button:hover, 
.navbar #logout-button:hover {
	background-color: transparent;
	border: 1px solid silver;
	color: silver;
}
.navbar #login-button:active,
.navbar #logout-button:active {
	background-color: transparent;
	border: 1px solid gray;
	color: gray;
}

/*=================================================================
  Contact us styles
  =================================================================*/
  #contact-us-content {
    margin-top: 3em;
  }
  #contact-us-content address {
  	border: 1px solid silver;
  	border-radius: 5px;
  	height: 425px;
  }
  #contact-us-content #map {
  	min-width: 100%;
  }
  #contact-us-content table td {
  	border: none;
  }
  #contact-us-content table td:first-child {
  	font-weight: bold;
  }


/*=================================================================
  Events styles
  =================================================================*/
  #event-content #event-img-sm {
  	height: 65px;
  	width: 65px;
  }
  #event-content ul li:first-child {
  	font-size: .8em;
  }
  #event-content ul li {
  	border: 1px solid silver;
  	border-radius: 5px;
  }
  #event-content table td, 
  #event-content table th {
  	border: none;
  }
  #event-content table td {
  	padding-left: .5em;
  }
  #event-content table td:first-child {
  	font-weight: bold;
  }
  #event-content h5 {
  	color: white;
  	font-style: italic;
  }
  #event-content .nav-pills .active a {
    background-color: #153a7e;
  }
  #event-content .nav-pills {
    margin-top: 2.75em;
  }
  #event-content .tab-content img {
  	float: left;
  	margin-right: 1.5em;
    margin-bottom: 1.5em;
  	height: 200px;
  	width: 350px;
  }	
  @media (min-width: 768px) {
    #event-content .nav-pills {
    	width: 25em;
    }
  }


/*=================================================================
  Dashboard styles
  =================================================================*/

  #dashboard-content {
  	margin-top: 2em;
  }
  #dashboard-content dt,
  #dashboard-content dd {
  	padding: .5em;
  }
  #dashboard-content dt {
  	text-align: left;
  }
  #dashboard-content #profile-picture {
  	width: 7em;
  	height: 7em;
  	margin: 1em;
  }