html {
	position: relative;
	min-height: 100%;
}
body {
	margin: 0;
	padding: 0;
}

/*header styles
=================================================================*/

header {
	background-color: #153a7e;
	border: 1px solid white;
	border-bottom: none;
}
header #logo {
	height: 125px;
	width: 350px;
}

/*navbar styles
=================================================================*/
.navbar {
	font-size: .9em;
	background-color: #132c55;
	color: white;
	border: 1px solid white;
	border-radius: 0;
}


/*change navbar height
----------------------------------------------------------------*/

.navbar .navbar-nav > li > a {
	line-height: 50px;
    height: 50px;
    padding-top: 0;
}


/*navbar brand styles
----------------------------------------------------------------*/

.navbar .navbar-brand img {
	height: 60px;
	width: 150px;
	position: relative;
	top: -18px;
}


/*navbar tabs styles for all screen sizes
----------------------------------------------------------------*/

.navbar .navbar-nav > li > a {
	color: white;
	letter-spacing: 1px;
}
.navbar .navbar-nav > li > a:hover, 
.navbar .navbar-nav > li > a:active,
.navbar .navbar-nav > li .active {
	background-color: #bdc3c7;
	color: black;
}


/*center navbar tabs
----------------------------------------------------------------
this code is obtained from 
http://stackoverflow.com/questions/18777235/center-content-in-responsive-bootstrap-navbar*/ 

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: text-bottom;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }

	/*navbar tabs styles for large devices only
	----------------------------------------------------------------*/

	.navbar .navbar-nav > li > a {
		border-right: 1px solid white;
	}
	.navbar .navbar-nav #home,
	.navbar .navbar-nav #dashboard {
		border-left: 1px solid white;
	}
	.navbar .navbar-nav > li > a:hover,
	.navbar .navbar-nav > li .active {
		border-bottom: 7px solid #bdc3c7;
		color: #bdc3c7;
	}
	.navbar .navbar-nav > li > a:active {
		border-bottom: 7px solid gray;
		color: gray;
	}
	.navbar .navbar-nav > li > a:hover,
	.navbar .navbar-nav > li > a:active,
	.navbar .navbar-nav > li .active {
		background-color: #132c55;
	}
}


/*navbar toggle styles
----------------------------------------------------------------*/

.navbar .navbar-toggle {
	border: none;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:active,
.navbar .navbar-toggle:focus {
	background-color: transparent;
}
.navbar.navbar-toggle .icon-bar:hover {
	color: white;
}

/*employee login styles
----------------------------------------------------------------*/
.navbar #employee-login,
.navbar #employee-logout {
	border: none;
}
.navbar #employee-login:hover,
.navbar #employee-login:active,
.navbar #employee-logout:hover,
.navbar #employee-logout:active {
	background-color: transparent;
	color: white;
}
.navbar #employee-login #are-you-an-employee,
.navbar #employee-logout #hello-user {
	font-style: italic;
	font-size: .85em;
	margin-right: .5em;
}
.navbar #login-button,
.navbar #logout-button {
	text-transform: uppercase;
	letter-spacing: 1px;
	background-color: #bdc3c7;
	color: #153a7e;
	border: 1px solid transparent;
	border-radius: 0;
	font-weight: bold;
	font-size: .85em;
}
.navbar #login-button:hover, 
.navbar #logout-button:hover {
	background-color: transparent;
	border: 1px solid silver;
	color: silver;
}
.navbar #login-button:active,
.navbar #logout-button:active {
	background-color: transparent;
	border: 1px solid gray;
	color: gray;
}


/* Sitemap styles
=================================================================*/

#sitemap-content {
	margin-top: 2em;
}
#sitemap-content #map {
	min-width: 100%;
}
#sitemap-content address .page-header {
	font-variant: small-caps;
	font-weight: bold;
}
#sitemap-content address dl dt,
#sitemap-content address dl dd {
	padding: 1em;
}
#sitemap-content address dl dt {
	text-align: left;
	color: #153a7e;
}
#sitemap-content address .glyphicon {
	padding-right: 1em;
}




/* About us styles 
=================================================================*/
#about-us-content {
	margin-top: 2em;
}
#about-us-content .logo {
	display: block;
	height: 6em;
	width: 100%;
}




/* Events styles
=================================================================*/
#events-content {
	margin-top: 2em;
}




/* Dashboard styles
=================================================================*/
#dashboard-content {
	margin-top: 2em;
}
#dashboard-content dt,
#dashboard-content dd {
	padding: .5em;
}
#dashboard-content dt {
	text-align: left;
}
#dashboard-content #profile-picture {
	width: 7em;
	height: 7em;
	margin: 1em;
}