html {
	position: relative;
	min-height: 100%;
}
body {
	margin: 0;
	padding: 0;
	/* based from footer height */
	margin-bottom: 30px;
}

/* Footer styles
	------------------------------------------------- 
	The following code is modified and obtained from
	https://getbootstrap.com/examples/sticky-footer/sticky-footer.css
*/

footer {
	position: absolute;
	bottom: 0;
	clear: both;
	width: 100%;
	height: 30px;
	color: white;
	background-color: #132c55;
}


/* Top header styles
---------------------------------------------------*/

#top-header {
	font-size: .9em;
	background-color: #132c55;
	color: white;
	padding: .5em;
}
/*#top-header #contact-us {
	float: left;
	margin-top: .3em;
}
#top-header #employee-login,
#top-header #employee-logout {
	float: right;
}*/
#top-header #employee-login #are-you-an-employee {
	font-style: italic;
	margin-right: .5em;
}
#top-header #login-button,
#top-header #logout-button {
	text-transform: uppercase;
	letter-spacing: 1px;
	background: silver;
	color: #153a7e;
	border: 1px solid transparent;
	border-radius: 0;
	font-size: .8em;
	font-weight: bold;
}
#top-header #login-button:hover, 
#top-header #login-button:focus,
#top-header #logout-button:hover, 
#top-header #logout-button:focus {
	background-color: transparent;
	border: 1px solid silver;
	color: silver;
}
#top-header #login-button:active,
#top-header #logout-button:active {
	cbackground-color: transparent;
	border: 1px solid gray;
	color: gray;
}

/* Bottom header styles
---------------------------------------------------*/
.navbar-brand,
.navbar-toggle,
.navbar-nav li a {
    line-height: 70px;
    height: 70px;
    padding-top: 0;
}
#bottom-header {
	background-color: #153a7e;
	border-radius: 0;
	margin: 0;
}
#bottom-header .active a {
	color: #153a7e;
	background-color: silver;
}
#bottom-header li a:hover {
	background-color: #153a7e; 
	border-bottom: 3px groove silver;
	color: white;
}
#bottom-header li a {
	letter-spacing: 1px;
	color: white;
	padding: 0 2em;
}
#bottom-header .navbar-brand img{
	width: 9em;
	height: 4em;
}
.navbar-toggle {
	border: none;
}
#bottom-header .navbar-toggle:hover,
#bottom-header .navbar-toggle:focus,
#bottom-header .navbar-toggle:active {
	background-color: transparent;
}
#bottom-header .navbar-collapse {
	background-color: #153a7e;
	border: none;
}

/* Carousel styles 
---------------------------------------------------*/

/* Carousel base class */
.carousel {
  position: 0;
  top: 0;
  bottom: 0;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

/* Sitemap styles
---------------------------------------------------*/
#sitemap-content {
	margin-top: 2em;
}
#sitemap-content #map {
	min-width: 100%;
}
#sitemap-content address .page-header {
	font-variant: small-caps;
	font-weight: bold;
}
#sitemap-content address dl dt,
#sitemap-content address dl dd {
	padding: 1em;
}
#sitemap-content address dl dt {
	text-align: left;
	color: #153a7e;
}
#sitemap-content address .glyphicon {
	padding-right: 1em;
}

/* About us styles 
---------------------------------------------------*/
#about-us-content {
	margin-top: 2em;
}
#about-us-content .logo {
	display: block;
	height: 6em;
	width: 100%;
}

/* Events styles
---------------------------------------------------*/
#events-content {
	margin-top: 2em;
}

/* Dashboard styles
---------------------------------------------------*/
#dashboard-content {
	margin-top: 2em;
}
#dashboard-content dt,
#dashboard-content dd {
	padding: .5em;
}
#dashboard-content dt {
	text-align: left;
}
#dashboard-content #profile-picture {
	width: 7em;
	height: 7em;
	margin: 1em;
}