@import url(https://fonts.googleapis.com/css?family=Roboto);

html {
	position: relative;
	min-height: 100%;
}
body {
  margin: 0;
  margin-bottom: 3em;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/*=================================================================
  Override bootstrap styles
  =================================================================*/

.breadcrumb .active {
  color: #153a7e;
  font-weight: bold;
}

.btn {
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #bdc3c7;
  color: #153a7e;
  border: 1px solid transparent;
  border-radius: 0;
  font-weight: bold;
  font-size: .85em;
  margin-right: .5em;
}

.btn:hover {
  background-color: transparent;
  border: 1px solid silver;
  color: #153a7e;
}

.btn:active {
  background-color: transparent;
  border: 1px solid gray;
  color: gray;
}

/*=================================================================
   header styles
   =================================================================*/

   header {
   	background-color: #153a7e;
   	border: none;
   	border-bottom: none;
   }
   header #logo {
   	height: 125px;
   	width: 350px;
   }

/*=================================================================
  navbar styles
  =================================================================*/

  .navbar {
  	font-size: .9em;
  	background-color: #132c55;
  	color: white;
  	border: none;
    border-radius: 0;

    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
  }


/*navbar brand styles
----------------------------------------------------------------*/

.navbar .navbar-brand img {
  height: 60px;
  width: 150px;
  position: relative;
  top: -18px;
}


/*navbar tabs styles for all screen sizes
----------------------------------------------------------------*/
.navbar .navbar-nav > li > a {
  color: white;
  letter-spacing: 1px;

  /*change navbar height
  ----------------------------------------------------------------*/
  line-height: 50px;
  height: 50px;
  padding-top: 0;
}
.navbar .navbar-nav > li > a:hover, 
.navbar .navbar-nav > li > a:active,
.navbar .navbar-nav > li .active {
  background-color: #bdc3c7;
  color: black;
}


/*center navbar tabs
----------------------------------------------------------------
this code is obtained from 
http://stackoverflow.com/questions/18777235/center-content-in-responsive-bootstrap-navbar*/ 

@media (min-width: 768px) {
	.navbar .navbar-nav {
		display: inline-block;
		float: none;
		vertical-align: text-bottom;
	}

	.navbar .navbar-collapse {
		text-align: center;
	}

	/*navbar tabs styles for large devices only
	----------------------------------------------------------------*/

	.navbar .navbar-nav > li > a {
		border-right: 1px solid white;
	}
	.navbar .navbar-nav #home,
	.navbar .navbar-nav #order-list {
		border-left: 1px solid white;
	}
	.navbar .navbar-nav > li > a:hover {
		border-bottom: 7px solid #bdc3c7;
		color: #bdc3c7;
	}
  .navbar .navbar-nav > li .active {
    border-bottom: 7px solid white;
    color: white;
  }
  .navbar .navbar-nav > li > a:active {
    border-bottom: 7px solid gray;
    color: gray;
  }
  .navbar .navbar-nav > li > a:hover,
  .navbar .navbar-nav > li > a:active,
  .navbar .navbar-nav > li .active {
    background-color: #132c55;
  }
}


/*navbar toggle styles
----------------------------------------------------------------*/

.navbar .navbar-toggle {
	border: none;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:active,
.navbar .navbar-toggle:focus {
	background-color: transparent;
}
.navbar.navbar-toggle .icon-bar:hover {
	color: white;
}

/*employee login styles
----------------------------------------------------------------*/
.navbar #employee-logout {
	border: none;
  padding: 10px;
}
.navbar #employee-logout:hover,
.navbar #employee-logout:active {
	background-color: transparent;
	color: white;
}
.navbar #employee-logout #hello-user {
	font-style: italic;
	margin-right: .5em;
}
.navbar #employee-logout #logout-btn:hover {
  color: white;  
}


/*=================================================================
  Contact us styles
  =================================================================*/
  #contact-us-content {
    margin-top: 3em;
  }

  #contact-us-content #map {
  	min-width: 100%;
  }
  #contact-us-content table td {
  	border: none;
  }
  #contact-us-content table td:first-child {
  	font-weight: bold;
  }


/*=================================================================
  Events styles
  =================================================================*/
  #event-content ul li {
  	border: 1px solid silver;
  	border-radius: 5px;
  }
  #event-content .label {
    font-size: .5em;
  }
  #event-content #event-name {
    font-size: 1.5em;
    font-weight: bold;
  }
  #event-content .nav-pills .active a {
    background-color: #eee;
  }
  #event-content .nav-pills {
    margin-top: 2.75em;
  }
  #event-content .nav-pills > li > a {
    color: black;
  }
  #event-content .nav-pills > li:hover {
    border-color: #153a7e; 
  }
  #event-content .nav-pills > li > a:hover {
    background-color: transparent;
    color: #153a7e;
  }
  #event-content .tab-content img {
    float: left;
    height: 250px;
    width: 350px;
    margin: .5em;
  }	
  #event-content .tab-content figure {
    display: block;
    margin: 2em auto;
    overflow: hidden;
    width: 80%;
  }
  #event-content .tab-content figure figcaption {
    padding-top: .5em;
  }
  @media (min-width: 768px) {
    #event-content .nav-pills {
    	width: 25em;
    }
  }
/*=================================================================
  Order now styles
  =================================================================*/
  #order-now-content #mach-img {
    height: 500px;
    width: 600px;
  }
  #order-now-content header {
    background-color: transparent;
  }
  #order-now-content header h1 {
    font-size: 1.6em;
  }
  #order-now-content .btn-group {
    display: block;
  }
  #order-now-content .btn-group > a {
    font-size: 1.25em;
    margin: 1em;
    border-radius: 5px;
    text-align: left;
    color: black;
    background-color: transparent;
    border: 1px solid silver;
    width: inherit;
    text-transform: none;
    font-weight: normal;
    letter-spacing: normal;
  }
  #order-now-content .btn-group > a small {
    display: block;
  }
  #order-now-content .btn-group > a:hover {
    border-color: #153a7e; 
    color: #153a7e;
  }
  #order-now-content form #continue-btn {
    margin-left: 1.5em;
  }

/*=================================================================
  Machines styles
  =================================================================*/
  #machines-content .mach-img {
    width: 100%;
    height: 200px;
    display: block;
    margin: 1em auto;
  }
  #machines-content header {
    background-color: transparent;
    text-align: center;
  }
  #machines-content .row > div {
    padding: 1.25em;
  }
  #machines-content .row > div div{
    border: 1px solid silver;
    border-radius: 5px;
    padding: 1.25em;
    color: white;
  }
  #machines-content .row div:nth-child(1) div {
    background-color: #2657a6;
  }
  #machines-content .row div:nth-child(2) div {
    background-color: #132c55;
  }
  #machines-content .row div:nth-child(3) div {
    background-color: #1c417d;
  }
  #machines-content .row div:nth-child(4) div {
    background-color: #2f6dd0;
  }
  #machines-content .right-shadow {
    -webkit-box-shadow: -16px 16px 20px -14px rgba(0,0,0,0.44);
    -moz-box-shadow: -16px 16px 39px -10px rgba(0,0,0,0.44);
    box-shadow: -16px 16px 39px -10px rgba(0,0,0,0.44);
  }
  #machines-content .left-shadow {
    -webkit-box-shadow: 16px 16px 20px -14px rgba(0,0,0,0.44);
    -moz-box-shadow: 16px 16px 20px -14px rgba(0,0,0,0.44);
    box-shadow: 16px 16px 20px -14px rgba(0,0,0,0.44); 
  }
  #machines-content p {
    text-align: justify;
  }
  #machines-content .learn-more-btn {
    display: block;
    width: 13em;
    margin: 3em auto;
    margin-bottom: 2em;
  }
  #machines-content .learn-more-btn:hover {
    color: white;
  }
  #machines-content .minor {
    margin-top: 2em;
  }
  #machines-content .minor h1 {
    font-size: 2em;
  }
  #machines-content .minor .mach-img {
    width: 175px;
    height: 150px;
  }

  /*-----------------------------------------------------------------
    Machine detail styles
    -----------------------------------------------------------------*/
    #machine-details #mach-img{
      height: 200px;
      width: auto;
      display: block;
      margin: 0 auto;
    }
    #machine-details #application {
      font-size: 1.25em;
    }

    #machine-details table thead {
      font-size: 1.5em;
    }
    #machine-details table caption {
      font-size: 2em;
    }
    
    #machine-details #btn-group {
      width: 18em;
      margin-top: 3em;      
    }
    #machine-details #btn-group #contact-us-btn {
      background-color: #153a7e;
      color: #bdc3c7;
    }
    #machine-details #btn-group #contact-us-btn:hover {
      background-color: transparent;
      color: #153a7e;
    }

    #machine-details #sidebar {
      background-color: #eee;
      border-radius: 5px;
    }
    #machine-details #sidebar .page-header {
      border-color: #153a7e;
    }
    #machine-details #sidebar #photos img {
      height: 100px;
      width: 100px;
      border: 1px solid silver;
      margin: .25em;
    }
    #machine-details #sidebar #videos video {
      width: 100%;
      height: 300px;
    }
    
    
  /*-----------------------------------------------------------------
    Machine categories styles
    -----------------------------------------------------------------*/
    #machine-category .row div a {
      border: 1px solid silver;
      border-radius: 5px;
      width: 25em;
      display: block;
      padding: 3em 1em;
      margin: 1em;
      text-align: center;
      color: black;
    }
    #machine-category .row div a:hover {
      color: #153a7e;
      border-color: #153a7e;

    }
    #machine-category .row div a h1 {
      font-size: 1.5em;
    }
    #machine-category img {
      width: 300px;
      height: 200px;
    }

/*=================================================================
  Agents styles
  =================================================================*/
  #agents-content > .row {
    padding: 1em;
  } 
  #agents-content > .row .agent {
    padding: 0;
    border: 1px solid silver;
    border-radius: 5px;
  }
  #agents-content > .row .agent div {
    padding: .5em;
  }
  #agents-content > .row .agent img {
    padding: .3em;
  }

  /*=================================================================
    Order now styles
    =================================================================*/
  
  #order-slitter form #next-btn {
    background-color: #153a7e;
    color: #bdc3c7;
  }
  #order-slitter form #next-btn:hover {
    background-color: transparent;
    color: #153a7e;
  }

