html {
	position: relative;
	min-height: 100%;
}
body {
	margin: 0;
	padding: 0;
	/* based from footer height */
	margin-bottom: 30px;
}

/* Footer styles
	------------------------------------------------- 
	The following code is modified and obtained from
	https://getbootstrap.com/examples/sticky-footer/sticky-footer.css
*/

footer {
	position: absolute;
	bottom: 0;
	clear: both;
	width: 100%;
	height: 30px;
	color: white;
	background-color: #132c55;
}


/* Top header styles
---------------------------------------------------*/

#top-header {
	padding: .5em;
}
#top-header #contact-us {
	float: left;
	padding-top: .3em;
}
#top-header #employee-login {
	float: right;
}
#top-header #employee-login #are-you-an-employee {
	font-style: italic;
	margin-right: .5em;
}
#top-header #employee-login .btn {
	width: 5em;
}
#top-header {
	background-color: #132c55;
	color: white;
	height: 3em;
}
#top-header #login-button {
	background: none;
	border: 1px solid white;
	border-radius: 1.25em;
}
#top-header #login-button:hover, 
#top-header #login-button:focus {
	background-color: #153a7e;
}
#top-header #login-button:active {
	color: black;
	border-color: black;
}

/* Bottom header styles
---------------------------------------------------*/
.navbar-brand,
.navbar-nav li a {
    line-height: 70px;
    height: 70px;
    padding-top: 0;
}
#bottom-header .active a,
.navbar-nav li a:hover {
	background-color: #132c55;
}
#bottom-header {
	background-color: #153a7e;
	border-radius: 0;
	border: none;
	margin: 0;
}
#bottom-header li {
	border-right: 1px solid white;
}
#bottom-header li:hover {
	background-color: #132c55;
}
#bottom-header li a {
	color: white;
}
#bottom-header #sitemap {
	border: none;
}
#bottom-header .navbar-brand img{
	width: 8em;
	height: 2.25em;
	position: absolute;
	left: 4em;
	top: .75em;
}
#bottom-header .right-inner-addon {
	position: relative;
}
#bottom-header .right-inner-addon input {
	padding-right: 30px;    
}
#bottom-header .right-inner-addon i {
	position: absolute;
	right: 0px;
	padding: 10px 12px;
	pointer-events: none;
}
#bottom-header #search {
	padding: 0 1.25em;
	margin-top: 17px;
}
#bottom-header .navbar-toggle {
	margin-top: 17px;
}
#bottom-header .navbar-toggle:hover,
#bottom-header .navbar-toggle:focus,
#bottom-header .navbar-toggle:active {
	background-color: #132c55;	
}
#bottom-header .navbar-collapse {
	background-color: #153a7e;
	border: none;
}

/* Carousel styles 
---------------------------------------------------
The following code is modified and obtained from https://getbootstrap.com/examples/carousel/*/

/* Carousel base class */
.carousel {
  height: 480px;
  padding: 0;
  margin: 0;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 480px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 480px;
}