html {
	position: relative;
	min-height: 100%;
}
body {
	margin: 0;
	padding: 0;
	/* based from footer height */
	margin-bottom: 2em;
	/* based from header height 
		top-header 		3.0 em
		bottom-header 	5.5 em
						------
						8.5 em
						*/
	margin-top: 8.5em;
	}

/* Footer styles
	------------------------------------------------- 
The following footer styles are modified and obtained from
https://getbootstrap.com/examples/sticky-footer/sticky-footer.css
*/

footer {
	position: absolute;
	bottom: 0;
	clear: both;
	width: 100%;
	height: 2em;
	color: white;
	background-color: #132c55;
}
footer p {
	padding: 1em;
}


/* Top header styles
---------------------------------------------------*/

#top-header {
padding: .5em;
}
#top-header #contact-us {
float: left;
padding-top: .3em;
}
#top-header #employee-login {
float: right;
}
#top-header #employee-login #are-you-an-employee {
font-style: italic;
margin-right: .5em;
}
#top-header #employee-login .btn {
width: 5em;
}