@font-face {
font-family: Roboto-Regular;
src: url(fonts/Roboto-Regular.ttf);
}
@font-face {
font-family:IOS8-Icons-Regular;
src: url(fonts/IOS8-Icons-Regular.tff);
}
header {
background-color:#153a7e;
color:white;
padding:5px; 
}
.contact{
text-align:left;
display:inline-block;
}
.employee{
text-align:right;
display:inline-block;
}
.site-footer{
background-color:#132c55;
color:white;
clear:both;
text-align:center;
padding:5px;
bottom:0;
position:absolute;
width:100%;
}